# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual environments
venv/
env/
ENV/
.venv/

# Pytest & IDEs
.pytest_cache/
.vscode/
.idea/
*.log
